name: Build Go Plugins

on:
  workflow_dispatch:
    inputs:
#   push:
#     paths:
#       - 'graphql/schema.graphql'
#     branches:
#       - 'as/manual-bindata'

# env:
#   SLACK_CLI_TOKEN: ${{ secrets.BENDER_TOKEN }}
#   VERSION: ${{ github.event.client_payload.sha }}

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        plugin: [go-auth-basicauth_dynamodb] #, go-auth-multiple_hook_example, go-postauth-oauth2_introspection, go-postauth-opa_integration, go-pre-cert_inject_dn]
        versions: [v2.9.4.1] # , v3.0.0, v3.0.1, v3.0.2, v3.1.0, v3.1.1]
    steps:
      - name: checkout custom-plugins/master
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.ref }}
          
      - name: Build plugins
        working-directory: ./plugins/${{ matrix.plugin }}
        run: |
          mkdir builds || true
          docker run --rm -v `pwd`:/plugin-source tykio/tyk-plugin-compiler:${VERSION} builds/${PLUGIN}_${VERSION}.so
          ls builds
          
#       - name: Commit bindata and submodule
#         run: |
#           git config --local user.email "tip@tyk-analytics-ui"
#           git config --local user.name "Bender"
#           git add dashboard/bindata.go webclient
#           git add -f .assets_vendor
#           git commit -m "[CI] Adding assets from tyk-analytics-ui/${{ github.event.client_payload.ref }}/${{ github.event.client_payload.sha }}"
          
#       - name: Push changes
#         id: push
#         run: |
#           git pull --no-edit --ff --strategy=ours --commit --recurse-submodules=off origin ${{ env.TA_REF }}
#           git remote set-url origin "$(git config --get remote.origin.url | sed 's#http.*com/#git@github.com:#g')"
#           git push -v origin ${{ env.TA_REF }}

