name: Build Go Plugins

on:
  workflow_dispatch:
    inputs:
#   push:
#     paths:
#       - 'graphql/schema.graphql'
#     branches:
#       - 'as/manual-bindata'

# env:
#   SLACK_CLI_TOKEN: ${{ secrets.BENDER_TOKEN }}
#   VERSION: ${{ github.event.client_payload.sha }}

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        plugin: [go-auth-basicauth_dynamodb, go-auth-multiple_hook_example, go-postauth-oauth2_introspection, go-postauth-opa_integration, go-pre-cert_inject_dn]
        version: [v2.9.4.1, v3.0.0, v3.0.1, v3.0.2, v3.1.0, v3.1.1]
    steps:
      - name: checkout custom-plugins/master
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.ref }}
          
      - name: Build plugins
        working-directory: ./plugins/${{ matrix.plugin }}
        env:
          PLUGIN: ${{ matrix.plugin }}
          VERSION: ${{ matrix.version }}
        run: |
          mkdir builds || true
          mkdir builds/so || true
          mkdir builds/manifest || true
          FILE=builds/so/${PLUGIN}_${VERSION}.so          
          if [ ! -e "$FILE" ]; then
          
            GOMOD=go.mod
            if [ -e "$GOMOD" ]; then
              go mod vendor
              rm -rf vendor/golang.org/x/sys/* || true
              rm -rf vendor/github.com/TykTechnologies/tyk || true
              rm -rf vendor/github.com/mattn/go-isatty || true
            fi

            docker run --rm -v `pwd`:/plugin-source tykio/tyk-plugin-compiler:${VERSION} ${PLUGIN}_${VERSION}.so
            mv ${PLUGIN}_${VERSION}.so builds/so
            
            if [ ! -e "$FILE" ]; then
              echo "Failed build plugin"
              exit 1
            fi
            
            if [ -e "$GOMOD" ]; then
              rm -rf vendor
            fi
          fi
          
      - name: Commit build
        working-directory: ./plugins/${{ matrix.plugin }}
        run: |
          git config --local user.email "tip@custom-plugin"
          git config --local user.name "Bender"
          git add -f builds 
          git commit -m "[CI] Build '${{ matrix.plugin }}' plugin for '${{ matrix.version }}' version" || true
         
          n=0
          until [ "$n" -ge 5 ]
          do
             git pull --rebase || true
             git push && break
             n=$((n+1)) 
             sleep 1
          done
      


